<footer id="footer" class="page-footer">
  <div class="container">
		<div class="js-footer-menu footer-menu">
			<p class="title">Who We Are</p>
			<ul>
			    <li><a href="#" title="About Us">About Us</a></li>
			    <li><a href="#" title="Management Team">Management Team</a></li>
				<li><a href="#" title="Board of Directors">Board of Directors</a></li>
			    <li><a href="#" title="FDS University">FDS University</a></li>
			    <li><a href="#" title="Partners">Partners</a></li>
			    <li><a href="#" title="Corporate Social Responsibility">Corporate Social Responsibility</a></li>
			    <li><a href="#" title="Global Locations">Global Locations</a></li>
			</ul>
		</div>
		<div class="js-footer-menu footer-menu">
			<p class="title">What We Do</p>
			<ul>
			    <li><a href="#" title="Software Development">Software Development</a></li>
			    <li><a href="#" title="Experience Design">Experience Design</a></li>
				<li><a href="#" title="Dev Ops">Dev Ops</a></li>
			    <li><a href="#" title="Security">Security</a></li>
			    <li><a href="#" title="Quality Assurance">Quality Assurance</a></li>
			    <li><a href="#" title="ProjectRejuvenation">ProjectRejuvenation</a></li>
			</ul>
		</div>
		<div class="js-footer-menu footer-menu">
			<p class="title">How We Work</p>
			<ul>
			    <li><a href="#" title="Best in Class Practices">Best in Class Practices</a></li>
			    <li><a href="#" title="Frequent Releases">Frequent Releases</a></li>
				<li><a href="#" title="Open Source">Open Source</a></li>
			    <li><a href="#" title="Testing">Testing</a></li>
			    <li><a href="#" title="Transparency">Transparency</a></li>
			</ul>
		</div>
		<div class="js-footer-menu footer-menu">
			<p class="title">Our Values</p>
			<ul>
			    <li><a href="#" title="About Us">About Us</a></li>
			    <li><a href="#" title="Management Team">Management Team</a></li>
				<li><a href="#" title="Board of Directors">Board of Directors</a></li>
			    <li><a href="#" title="FDS University">FDS University</a></li>
			    <li><a href="#" title="Partners Corporate ">Partners Corporate </a></li>
			</ul>
		</div>
		<div class="js-footer-menu footer-menu">
			<p class="title">Newsroom</p>
			<ul>
			    <li><a href="#" title="News">News</a></li>
			    <li><a href="#" title="Awards">Awards</a></li>
				<li><a href="#" title="Events">Events</a></li>
			    <li><a href="#" title="FDS in the Media">FDS in the Media</a></li>
			    <li><a href="#" title="Media Kit">Media Kit</a></li>
			    <li><a href="#" title="Knowledge Center">Knowledge Center</a></li>
			</ul>
		</div>
	</div>
	<div class="copyright">
		<div class="container">
			<p class="title">FountainheadDigital 2017 All rights reserved.</p>
		</div>
	</div>
</footer>
