<header class="js-header page-header" id="header">
	<a href="index.html" title="Fountainhead Digital" class="header-logo">
		<img src="img/content/logo-mob.svg" alt="Fountainhead Digital" class="mobile">
		<img src="img/content/logo-des.svg" alt="Fountainhead Digital" class="desktop">
	</a>
	<button class="js-navigation-button el-navigation-button">
		<svg class="icon icon-menu-button">
        	<use xlink:href="img/sprite.svg#menu-button"></use>
        </svg>
	</button>
	<div class="js-navigation navigation-wrap">
		<nav>
		    <ul>
		        <li><a href="#home" title="Home">Home</a></li>
		    	<li><a href="#services" title="Services">Services</a></li>
		    	<li><a href="#technology" title="Technology">Technology</a></li>
		    	<li><a href="#our-approach" title="Our Approach">Our Approach</a></li>
		    	<li><a href="#who-we-are" title="Careers">Careers</a></li>
		    </ul>
		</nav>
		<a href="#contact-us" title="Contact Us" class="js-button-contact-us button-contact-us">Contact Us</a>
	</div>
</header>
