<div id="preloader">
	<img src="img/content/preloader.gif" alt="Loading" id="load">
	<style type="text/css" media="screen">
		#preloader {
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0; left: 0;
			background-color: #fff;
			z-index: 1500;
		}
		#load {
			display: block;
			width: 220px;
			height: 220px;
			position: absolute;
			left: 50%;
			top: 50%;
			background: url(https://oboi-printcolor.com/wp-content/themes/PrintColor/img/preloader.gif) no-repeat center;
			transform: translate(-50%, -50%);
		}
	</style>
</div>