// footer
//-----------------------------------------------------------------------------------
.page-footer {
	> .container {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	background-color: #36394d;
	color: $col_3;
	.footer-menu {
		margin: 0;
		padding: 0;
		text-align: center;
		ul {
			display: none;
			padding: 15px 0 30px;
		}
		.title {
			position: relative;
			padding: 3px 0;
			font-family: $ffm;
			font-size: 18px;
		    line-height: 32px;
		    letter-spacing: 0.2px;
			color: $col_3;
			cursor: pointer;
			&:before {
				position: absolute;
				content: '';
				width: 0;
				left: 50%; bottom: 0;
				border-bottom: 1px solid $col_3;
				transform: translateX(-50%);
				transition: .3s;
			}
			&.is-active {
				&:before {
					width: 70px;
				}
			}
		}
		a {
			display: block;
			font-family: $ffl;
			font-size: 16px;
			line-height: 26px;
			color: $col_3;
		}
	}
	.copyright {
		background-color: #242633;
		font-family: $ffr;
		font-size: 14px;
		line-height: 28px;
		text-align: center;
		color: #484c66;
		.container {
			padding-top: 9px;
			padding-bottom: 9px;
		}
	}
}


@media only screen and (min-width : 1200px) {
	.page-footer {
		> .container {
			display: flex;
			flex-flow: row wrap;
			justify-content: flex-start;
			align-items: stretch;
			padding-top: 35px;
			padding-bottom: 35px;
		}
		.footer-menu {
			display: block;
			padding-right: 15px;
			text-align: left;
			ul {
				display: block;
				padding: 3px 0 5px;
			}
			&:nth-child(5n+1) {
				width: 262px
			}
			&:nth-child(5n+2) {
				width: 242px
			}
			&:nth-child(5n+3) {
				width: 242px
			}
			&:nth-child(5n+4) {
				width: 229px
			}
			&:nth-child(5n+5) {
				width: 165px;
				padding-right: 0;
			}
		}
	}
}