// header
//-----------------------------------------------------------------------------------
.page-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 16px 0;
	&:after {
		display: none;
	}
	.header-logo {
		display: inline-block;
		width: 80px;
		overflow: hidden;
		.desktop {
			display: none;
		}
	}
	.el-navigation-button {
		margin: 15px 15px 0;
		.icon-menu-button {
			width: 24px;
			height: 20px;
			fill: $col_2;
		}
	}
	.navigation-wrap {
		position: fixed;
		display: none;
		ul {
			position: relative;
		}
		li+li {
			margin-top: 15px;
		}
		li a {
			position: relative;
			font-family: $ffr;
			font-size: 24px;
			line-height: 34px;
			color: $col_1;
			&:after {
				position: absolute;
				left: 50%; bottom: 0;
				content: '';
				width: 0;
				border: 1px solid transparent;
				transform: translateX(-50%);
				transition: .3s;
			}
			&:hover, &:focus {
				color: $col_2;
				&:after {
					width: 100%;
					border-color: $col_2;
				}
			}
		}
		.button-contact-us {
			width: 130px;
			height: 32px;
			margin-top: 50px;
			background-color: $col_2;
			font-size: 18px;
			line-height: 30px;
			text-align: center;
			transition: .3s;
			color: $col_3;
			&:hover, &:focus {
				background-color: lighten($col_2, 10);
			}
		}
		&.mod-show {
			top: 0; left: 0;
			width: 100%;
			height: 100%;
			padding: 125px 70px 75px;
			background-color: $col_3;
			text-align: center;
			overflow: auto;
			z-index: 1000;
		}
	}
	&.mod-fixed {
		.header-logo, .el-navigation-button {
			position: relative;
			transition: transform .5s;
			z-index: 1001;
		}

		&.hide {
			.header-logo, .el-navigation-button {
				transform: translateY(-250px);
			}
		}
	}
}
@media only screen and (min-height: 530px) {
	.page-header {
		.navigation-wrap {
			&.mod-show {
				display: flex !important;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
		}
	}
}
@media only screen and (min-width : 768px) {
	.page-header {
		padding: 24px 0;
		.navigation-wrap {
			.el-navigation-button {
				margin: 25px 18px 0;
			}
		}
	}
}

@media only screen and (min-width : 1200px) {
	.page-header {
		padding: 7px 0;
		.header-logo {
			width: 315px;
			.mobile {
				display: none;
			}
			.desktop {
				display: block;
			}
		}
		.el-navigation-button {
			display: none;
		}
		.navigation-wrap  {
			position: static;
			display: block;
			margin-top: 25px;
			nav {
				display: inline-block;
				vertical-align: top;
				li {
					display: inline-block;
					vertical-align: top;
					margin: 0 16px;
				}
				a {
					font-size: 18px;
					line-height: 32px;
				}
			}
			.button-contact-us  {
				display: inline-block;
				vertical-align: top;
				margin: 0 0 0 58px;
			}
		}
	}
}