<include src="../chunks/head.html"></include>
	<body>
		<include src="../chunks/preloader.html"></include>
		<div id="page-wrap" class="page-wrap">

			<div id="page-body" class="page-body">
				<div class="home-section" id="home" data-animate-section>
					<div class="container home-background" style="background-image: url(../img/content/header-bg.svg);">
						<include src="../chunks/header.html"></include>
						<div class="home-content">
							<h1>Fountainhead Digital: <span class="mod-color">Forward. Digitally</span></h1>
							<p><span class="mod-color">We are a leading full lifecycle software development company</span> focused on delivering the next generat on of customized soft ware solutions designed to meet our clients growing business demands. <span class="mod-color">Our team’s extensive experience in</span> – and passion for – esigning and developing innovative technology allows us to deliver first-class service to our clients in a quality centric and cost effective way.</p>
						</div>
						<button class="js-scroll-to-down scroll-to-down-button">
							<svg class="icon icon-arrow-button">
					        	<use xlink:href="img/sprite.svg#arrow"></use>
					        </svg>
						</button>
					</div>
				</div>
				<section class="our-approach-section" id="our-approach" data-animate-section>
					<div class="container">
						<h2>Our Approach</h2>
						<div class="thumbnail">
							<img src="img/content/iPhone-62.svg" alt="iPhone" data-animate-items>
							<img src="img/content/iPhone-61.svg" alt="iPhone" data-animate-items>
						</div>
						<div class="content-wrap">
							<div class="information-content">
								<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
							</div>					
							<ul class="js-el-accordion el-accordion">
							    <li>
									<div class="list-title">
										<svg class="icon icon-list-arrow">
					        				<use xlink:href="img/sprite.svg#list-arrow"></use>
					        			</svg>
										<span class="mod-color">Agile</span>	
									</div>
									<div class="wrap-content">
								    	<p>Effective system design that meets your functional, performance and cost requirements.</p>
								    	<div class="content">
								    		<p>A robust architecture is a prerequisite for delivery of a system that is performant, highly available, extensible and easily maintained. Just as important, is a timely, cost effective implementation and rollout. Our design process ensures that resulting system meets set requirements and budget.</p>
								    		<ul>
								    		    <li>Componentization for gradual rollout and frequent deliverables in order to facilitate predictable timeframes and minimize delivery risk through early validation.</li>
								    		    <li>Use of suitable Open Source components to reduce development time and costs.</li>
								    		    <li>Highly available systems that are resilient to hardware and connection failures.</li>
								    		    <li>Automated deployment and testing for increase quality.</li>
								    		    <li>Instrumentation for visibility into state of the system for ease of support	and maintenance.</li>
								    		    <li>Selection of appropriate hosting platforms that facilitate performance and scaling requirements while optimizing recurring costs.</li>
								    		</ul>
								    	</div>
							    	</div>
							    </li>
							    <li>
							    	<div class="list-title">
							    		<svg class="icon icon-list-arrow">
					        				<use xlink:href="img/sprite.svg#list-arrow"></use>
					        			</svg>
							    		<span class="mod-color">DevOps</span>
							    	</div>
							    	<div class="wrap-content">
								    	<p>Effective system design that meets your functional, performance and cost requirements.</p>
								    	<div class="content">
								    		<p>A robust architecture is a prerequisite for delivery of a system that is performant, highly available, extensible and easily maintained. Just as important, is a timely, cost effective implementation and rollout. Our design process ensures that resulting system meets set requirements and budget.</p>
								    		<ul>
								    		    <li>Componentization for gradual rollout and frequent deliverables in order to facilitate predictable timeframes and minimize delivery risk through early validation.</li>
								    		    <li>Use of suitable Open Source components to reduce development time and costs.</li>
								    		    <li>Highly available systems that are resilient to hardware and connection failures.</li>
								    		    <li>Automated deployment and testing for increase quality.</li>
								    		    <li>Instrumentation for visibility into state of the system for ease of support	and maintenance.</li>
								    		    <li>Selection of appropriate hosting platforms that facilitate performance and scaling requirements while optimizing recurring costs.</li>
								    		</ul>
								    	</div>
							    	</div>
							    </li>
							    <li>
							    	<div class="list-title">
							    		<svg class="icon icon-list-arrow">
					        				<use xlink:href="img/sprite.svg#list-arrow"></use>
					        			</svg>
										<span class="mod-color">Security and Privacy</span>	
									</div>
									<div class="wrap-content">
								    	<p>Effective system design that meets your functional, performance and cost requirements.</p>
								    	<div class="content">
								    		<p>A robust architecture is a prerequisite for delivery of a system that is performant, highly available, extensible and easily maintained. Just as important, is a timely, cost effective implementation and rollout. Our design process ensures that resulting system meets set requirements and budget.</p>
								    		<ul>
								    		    <li>Componentization for gradual rollout and frequent deliverables in order to facilitate predictable timeframes and minimize delivery risk through early validation.</li>
								    		    <li>Use of suitable Open Source components to reduce development time and costs.</li>
								    		    <li>Highly available systems that are resilient to hardware and connection failures.</li>
								    		    <li>Automated deployment and testing for increase quality.</li>
								    		    <li>Instrumentation for visibility into state of the system for ease of support	and maintenance.</li>
								    		    <li>Selection of appropriate hosting platforms that facilitate performance and scaling requirements while optimizing recurring costs.</li>
								    		</ul>
								    	</div>
							    	</div>
							    </li>
							    <li>
							    	<div class="list-title">
							    		<svg class="icon icon-list-arrow">
					        				<use xlink:href="img/sprite.svg#list-arrow"></use>
					        			</svg>
							    		<span class="mod-color">Analytics</span>
							    	</div>
							    	<div class="wrap-content">
								    	<p>Effective system design that meets your functional, performance and cost requirements.</p>
								    	<div class="content">
								    		<p>A robust architecture is a prerequisite for delivery of a system that is performant, highly available, extensible and easily maintained. Just as important, is a timely, cost effective implementation and rollout. Our design process ensures that resulting system meets set requirements and budget.</p>
								    		<ul>
								    		    <li>Componentization for gradual rollout and frequent deliverables in order to facilitate predictable timeframes and minimize delivery risk through early validation.</li>
								    		    <li>Use of suitable Open Source components to reduce development time and costs.</li>
								    		    <li>Highly available systems that are resilient to hardware and connection failures.</li>
								    		    <li>Automated deployment and testing for increase quality.</li>
								    		    <li>Instrumentation for visibility into state of the system for ease of support	and maintenance.</li>
								    		    <li>Selection of appropriate hosting platforms that facilitate performance and scaling requirements while optimizing recurring costs.</li>
								    		</ul>
								    	</div>
							    	</div>
							    </li>
							    <li>
							    	<div class="list-title">
							    		<svg class="icon icon-list-arrow">
					        				<use xlink:href="img/sprite.svg#list-arrow"></use>
					        			</svg>
							    		<span class="mod-color">Open Source</span>
							    	</div>
							    	<div class="wrap-content">
								    	<p>Effective system design that meets your functional, performance and cost requirements.</p>
								    	<div class="content">
								    		<p>A robust architecture is a prerequisite for delivery of a system that is performant, highly available, extensible and easily maintained. Just as important, is a timely, cost effective implementation and rollout. Our design process ensures that resulting system meets set requirements and budget.</p>
								    		<ul>
								    		    <li>Componentization for gradual rollout and frequent deliverables in order to facilitate predictable timeframes and minimize delivery risk through early validation.</li>
								    		    <li>Use of suitable Open Source components to reduce development time and costs.</li>
								    		    <li>Highly available systems that are resilient to hardware and connection failures.</li>
								    		    <li>Automated deployment and testing for increase quality.</li>
								    		    <li>Instrumentation for visibility into state of the system for ease of support	and maintenance.</li>
								    		    <li>Selection of appropriate hosting platforms that facilitate performance and scaling requirements while optimizing recurring costs.</li>
								    		</ul>
								    	</div>
							    	</div>
							    </li>
							</ul>
						</div>
					</div>
				</section>
				<section class="services-section" id="services" data-animate-section>
					<div class="container">
						<h2>Services</h2>
						<div class="thumbnail">
							<div class="items items-one" data-animate-items>
								<img src="../img/content/image-1.svg" alt="img">
							</div>
							<div class="items items-two" data-animate-items>
								<img src="../img/content/image-2.svg" alt="img">
							</div>
						</div>
						<div class="content-wrap">
							<div class="information-content">
								<p>We provide a range of services tailored to meet our clients’ needs. Eliminate technology risk by partnering with us so you could focus on developing your business. We strive to be a reliable partner that helps to move your business forward.</p>
							</div>
							<ul class="js-el-accordion el-accordion">
							    <li>
									<div class="list-title">
										<svg class="icon icon-list-arrow">
					        				<use xlink:href="img/sprite.svg#list-arrow"></use>
					        			</svg>
										<span class="mod-color">Product Design</span>	
									</div>
									<div class="wrap-content">
								    	<p>Effective system design that meets your functional, performance and cost requirements.</p>
								    	<div class="content">
								    		<p>A robust architecture is a prerequisite for delivery of a system that is performant, highly available, extensible and easily maintained. Just as important, is a timely, cost effective implementation and rollout. Our design process ensures that resulting system meets set requirements and budget.</p>
								    		<ul>
								    		    <li>Componentization for gradual rollout and frequent deliverables in order to facilitate predictable timeframes and minimize delivery risk through early validation.</li>
								    		    <li>Use of suitable Open Source components to reduce development time and costs.</li>
								    		    <li>Highly available systems that are resilient to hardware and connection failures.</li>
								    		    <li>Automated deployment and testing for increase quality.</li>
								    		    <li>Instrumentation for visibility into state of the system for ease of support	and maintenance.</li>
								    		    <li>Selection of appropriate hosting platforms that facilitate performance and scaling requirements while optimizing recurring costs.</li>
								    		</ul>
								    	</div>
							    	</div>
							    </li>
							    <li>
							    	<div class="list-title">
							    		<svg class="icon icon-list-arrow">
					        				<use xlink:href="img/sprite.svg#list-arrow"></use>
					        			</svg>
							    		<span class="mod-color">Solution Architectur</span>
							    	</div>
							    	<div class="wrap-content">
								    	<p>Effective system design that meets your functional, performance and cost requirements.</p>
								    	<div class="content">
								    		<p>A robust architecture is a prerequisite for delivery of a system that is performant, highly available, extensible and easily maintained. Just as important, is a timely, cost effective implementation and rollout. Our design process ensures that resulting system meets set requirements and budget.</p>
								    		<ul>
								    		    <li>Componentization for gradual rollout and frequent deliverables in order to facilitate predictable timeframes and minimize delivery risk through early validation.</li>
								    		    <li>Use of suitable Open Source components to reduce development time and costs.</li>
								    		    <li>Highly available systems that are resilient to hardware and connection failures.</li>
								    		    <li>Automated deployment and testing for increase quality.</li>
								    		    <li>Instrumentation for visibility into state of the system for ease of support	and maintenance.</li>
								    		    <li>Selection of appropriate hosting platforms that facilitate performance and scaling requirements while optimizing recurring costs.</li>
								    		</ul>
								    	</div>
							    	</div>
							    </li>
							    <li>
							    	<div class="list-title">
							    		<svg class="icon icon-list-arrow">
					        				<use xlink:href="img/sprite.svg#list-arrow"></use>
					        			</svg>
										<span class="mod-color">Dedicated Teams</span>	
									</div>
									<div class="wrap-content">
								    	<p>Effective system design that meets your functional, performance and cost requirements.</p>
								    	<div class="content">
								    		<p>A robust architecture is a prerequisite for delivery of a system that is performant, highly available, extensible and easily maintained. Just as important, is a timely, cost effective implementation and rollout. Our design process ensures that resulting system meets set requirements and budget.</p>
								    		<ul>
								    		    <li>Componentization for gradual rollout and frequent deliverables in order to facilitate predictable timeframes and minimize delivery risk through early validation.</li>
								    		    <li>Use of suitable Open Source components to reduce development time and costs.</li>
								    		    <li>Highly available systems that are resilient to hardware and connection failures.</li>
								    		    <li>Automated deployment and testing for increase quality.</li>
								    		    <li>Instrumentation for visibility into state of the system for ease of support	and maintenance.</li>
								    		    <li>Selection of appropriate hosting platforms that facilitate performance and scaling requirements while optimizing recurring costs.</li>
								    		</ul>
								    	</div>
							    	</div>
							    </li>
							    <li>
							    	<div class="list-title">
							    		<svg class="icon icon-list-arrow">
					        				<use xlink:href="img/sprite.svg#list-arrow"></use>
					        			</svg>
							    		<span class="mod-color">Sistem Modernization</span>
							    	</div>
							    	<div class="wrap-content">
								    	<p>Effective system design that meets your functional, performance and cost requirements.</p>
								    	<div class="content">
								    		<p>A robust architecture is a prerequisite for delivery of a system that is performant, highly available, extensible and easily maintained. Just as important, is a timely, cost effective implementation and rollout. Our design process ensures that resulting system meets set requirements and budget.</p>
								    		<ul>
								    		    <li>Componentization for gradual rollout and frequent deliverables in order to facilitate predictable timeframes and minimize delivery risk through early validation.</li>
								    		    <li>Use of suitable Open Source components to reduce development time and costs.</li>
								    		    <li>Highly available systems that are resilient to hardware and connection failures.</li>
								    		    <li>Automated deployment and testing for increase quality.</li>
								    		    <li>Instrumentation for visibility into state of the system for ease of support	and maintenance.</li>
								    		    <li>Selection of appropriate hosting platforms that facilitate performance and scaling requirements while optimizing recurring costs.</li>
								    		</ul>
								    	</div>
							    	</div>
							    </li>
							    <li>
							    	<div class="list-title">
							    		<svg class="icon icon-list-arrow">
					        				<use xlink:href="img/sprite.svg#list-arrow"></use>
					        			</svg>
							    		<span class="mod-color">Managet Support</span>
							    	</div>
							    	<div class="wrap-content">
								    	<p>Effective system design that meets your functional, performance and cost requirements.</p>
								    	<div class="content">
								    		<p>A robust architecture is a prerequisite for delivery of a system that is performant, highly available, extensible and easily maintained. Just as important, is a timely, cost effective implementation and rollout. Our design process ensures that resulting system meets set requirements and budget.</p>
								    		<ul>
								    		    <li>Componentization for gradual rollout and frequent deliverables in order to facilitate predictable timeframes and minimize delivery risk through early validation.</li>
								    		    <li>Use of suitable Open Source components to reduce development time and costs.</li>
								    		    <li>Highly available systems that are resilient to hardware and connection failures.</li>
								    		    <li>Automated deployment and testing for increase quality.</li>
								    		    <li>Instrumentation for visibility into state of the system for ease of support	and maintenance.</li>
								    		    <li>Selection of appropriate hosting platforms that facilitate performance and scaling requirements while optimizing recurring costs.</li>
								    		</ul>
								    	</div>
							    	</div>
							    </li>
							</ul>
						</div>
					</div>
				</section>
				<section class="technology-section" id="technology" data-animate-section>
					<div class="container">
						<h2>Technology</h2>
						<div class="thumbnail">
							<div class="items items-one" data-animate-items>
								<img src="img/content/image-6.svg" alt="img">
							</div>
							<div class="items items-two" data-animate-items>
								<img src="img/content/image-7.svg" alt="img">
							</div>
							<div class="items items-three" data-animate-items>
								<img src="img/content/image-8.svg" alt="img">
							</div>
						</div>
						<div class="content-wrap">
							<div class="information-content">
								<p>We select the most appropriate technologies in order to meet your business requirements. We factor in functionality, ease of development and support as well upfront and recurring costs.</p>
							</div>	
							<ul class="js-el-accordion el-accordion">
							    <li>
									<div class="list-title">
										<svg class="icon icon-list-arrow">
					        				<use xlink:href="img/sprite.svg#list-arrow"></use>
					        			</svg>
										<span class="mod-color">Mobile</span>	
									</div>
									<div class="wrap-content">
								    	<p>Effective system design that meets your functional, performance and cost requirements.</p>
								    	<div class="content">
								    		<p>A robust architecture is a prerequisite for delivery of a system that is performant, highly available, extensible and easily maintained. Just as important, is a timely, cost effective implementation and rollout. Our design process ensures that resulting system meets set requirements and budget.</p>
								    		<ul>
								    		    <li>Componentization for gradual rollout and frequent deliverables in order to facilitate predictable timeframes and minimize delivery risk through early validation.</li>
								    		    <li>Use of suitable Open Source components to reduce development time and costs.</li>
								    		    <li>Highly available systems that are resilient to hardware and connection failures.</li>
								    		    <li>Automated deployment and testing for increase quality.</li>
								    		    <li>Instrumentation for visibility into state of the system for ease of support	and maintenance.</li>
								    		    <li>Selection of appropriate hosting platforms that facilitate performance and scaling requirements while optimizing recurring costs.</li>
								    		</ul>
								    	</div>
							    	</div>
							    </li>
							    <li>
							    	<div class="list-title">
							    		<svg class="icon icon-list-arrow">
					        				<use xlink:href="img/sprite.svg#list-arrow"></use>
					        			</svg>
							    		<span class="mod-color">Server-side</span>
							    	</div>
							    	<div class="wrap-content">
								    	<p>Effective system design that meets your functional, performance and cost requirements.</p>
								    	<div class="content">
								    		<p>A robust architecture is a prerequisite for delivery of a system that is performant, highly available, extensible and easily maintained. Just as important, is a timely, cost effective implementation and rollout. Our design process ensures that resulting system meets set requirements and budget.</p>
								    		<ul>
								    		    <li>Componentization for gradual rollout and frequent deliverables in order to facilitate predictable timeframes and minimize delivery risk through early validation.</li>
								    		    <li>Use of suitable Open Source components to reduce development time and costs.</li>
								    		    <li>Highly available systems that are resilient to hardware and connection failures.</li>
								    		    <li>Automated deployment and testing for increase quality.</li>
								    		    <li>Instrumentation for visibility into state of the system for ease of support	and maintenance.</li>
								    		    <li>Selection of appropriate hosting platforms that facilitate performance and scaling requirements while optimizing recurring costs.</li>
								    		</ul>
								    	</div>
							    	</div>
							    </li>
							    <li>
							    	<div class="list-title">
							    		<svg class="icon icon-list-arrow">
					        				<use xlink:href="img/sprite.svg#list-arrow"></use>
					        			</svg>
										<span class="mod-color">Open Source</span>	
									</div>
									<div class="wrap-content">
								    	<p>Effective system design that meets your functional, performance and cost requirements.</p>
								    	<div class="content">
								    		<p>A robust architecture is a prerequisite for delivery of a system that is performant, highly available, extensible and easily maintained. Just as important, is a timely, cost effective implementation and rollout. Our design process ensures that resulting system meets set requirements and budget.</p>
								    		<ul>
								    		    <li>Componentization for gradual rollout and frequent deliverables in order to facilitate predictable timeframes and minimize delivery risk through early validation.</li>
								    		    <li>Use of suitable Open Source components to reduce development time and costs.</li>
								    		    <li>Highly available systems that are resilient to hardware and connection failures.</li>
								    		    <li>Automated deployment and testing for increase quality.</li>
								    		    <li>Instrumentation for visibility into state of the system for ease of support	and maintenance.</li>
								    		    <li>Selection of appropriate hosting platforms that facilitate performance and scaling requirements while optimizing recurring costs.</li>
								    		</ul>
								    	</div>
							    	</div>
							    </li>
							    <li>
							    	<div class="list-title">
							    		<svg class="icon icon-list-arrow">
					        				<use xlink:href="img/sprite.svg#list-arrow"></use>
					        			</svg>
							    		<span class="mod-color">Cloud Computing</span>
							    	</div>
							    	<div class="wrap-content">
								    	<p>Effective system design that meets your functional, performance and cost requirements.</p>
								    	<div class="content">
								    		<p>A robust architecture is a prerequisite for delivery of a system that is performant, highly available, extensible and easily maintained. Just as important, is a timely, cost effective implementation and rollout. Our design process ensures that resulting system meets set requirements and budget.</p>
								    		<ul>
								    		    <li>Componentization for gradual rollout and frequent deliverables in order to facilitate predictable timeframes and minimize delivery risk through early validation.</li>
								    		    <li>Use of suitable Open Source components to reduce development time and costs.</li>
								    		    <li>Highly available systems that are resilient to hardware and connection failures.</li>
								    		    <li>Automated deployment and testing for increase quality.</li>
								    		    <li>Instrumentation for visibility into state of the system for ease of support	and maintenance.</li>
								    		    <li>Selection of appropriate hosting platforms that facilitate performance and scaling requirements while optimizing recurring costs.</li>
								    		</ul>
								    	</div>
							    	</div>
							    </li>
							    <li>
							    	<div class="list-title">
							    		<svg class="icon icon-list-arrow">
					        				<use xlink:href="img/sprite.svg#list-arrow"></use>
					        			</svg>
							    		<span class="mod-color">Data Analytics</span>
							    	</div>
							    	<div class="wrap-content">
								    	<p>Effective system design that meets your functional, performance and cost requirements.</p>
								    	<div class="content">
								    		<p>A robust architecture is a prerequisite for delivery of a system that is performant, highly available, extensible and easily maintained. Just as important, is a timely, cost effective implementation and rollout. Our design process ensures that resulting system meets set requirements and budget.</p>
								    		<ul>
								    		    <li>Componentization for gradual rollout and frequent deliverables in order to facilitate predictable timeframes and minimize delivery risk through early validation.</li>
								    		    <li>Use of suitable Open Source components to reduce development time and costs.</li>
								    		    <li>Highly available systems that are resilient to hardware and connection failures.</li>
								    		    <li>Automated deployment and testing for increase quality.</li>
								    		    <li>Instrumentation for visibility into state of the system for ease of support	and maintenance.</li>
								    		    <li>Selection of appropriate hosting platforms that facilitate performance and scaling requirements while optimizing recurring costs.</li>
								    		</ul>
								    	</div>
							    	</div>
							    </li>
							</ul>
						</div>
					</div>
				</section>
				<section class="who-we-are-section" id="who-we-are" data-animate-section>
					<div class="container">
						<h2>Who We Are</h2>
						<p><span class="mod-color">Whether you’re a budding entrepreneur or an established company looking to enter a new market</span>, streamline existing business operations or manage periods of fast growth – we can help take your business Forward. Digitally.</p>
						<img src="img/content/wwa-bg.svg" alt="image" class="mod-decoration">
					</div>
					<div class="items-wrap">
						<div class="items col-xs-12 col-md-4">
							<div class="thumbnail">
								<img src="img/content/image-3.svg" alt="image" data-animate-items>
							</div>
							<h4 class="mod-color">Clients First</h4>
							<div class="content">
								<p>Our clients are at the forefront of everything we do and we are unrelenting in our commitment to provide them with a responsive, transparent experience throughout the project and beyond. Our culture is built around high quality of service and we intend to deliver it from day one forward.</p>
							</div>
						</div>
						<div class="items col-xs-12 col-md-4">
							<div class="thumbnail">
								<img src="img/content/image-4.svg" alt="image" data-animate-items>
							</div>
							<h4 class="mod-color">Doing Business in the First Class Way</h4>
							<div class="content">
								<p>Integrity must be the defining characteristic of our firm and it is our prerogative to transact our businessin a principled, accountable way. While there may be geographical constraints we make sure that no such gaps exist in our communication, understanding and commitments.</p>
							</div>
						</div>
						<div class="items col-xs-12 col-md-4">
							<div class="thumbnail">
								<img src="img/content/image-5.svg" alt="image" data-animate-items>
							</div>
							<h4 class="mod-color">Future is Now</h4>
							<div class="content">
								<p>We build and design solutions that do not only meet current needs, but those that have the future state in mind. We stay abreast of current technological and business trends and design our software  with flexibility and adaptability in mind so that in the end our clients are better positioned to build up upon existing capabilities in an efficient and effective way.</p>
							</div>
						</div>
					</div>
				</section>
				<section class="portfolio-section" id="portfolio" data-animate-section>
					<div class="container">
						<h2>Portfolio</h2>
						<div class="js-slider-wrap slider-wrap">
							<div class="js-slider-window slider-window">
								<div class="items">
									<img src="img/content/slide-1.jpg" alt="Portfolio" data-animate-items>
								</div>
								<div class="items">
									<img src="img/content/slide-2.jpg" alt="Portfolio" data-animate-items>
								</div>
								<div class="items">
									<img src="img/content/slide-3.jpg" alt="Portfolio" data-animate-items>
								</div>
								<div class="items">
									<img src="img/content/slide-4.jpg" alt="Portfolio" data-animate-items>
								</div>
								<div class="items">
									<img src="img/content/slide-3.jpg" alt="Portfolio" data-animate-items>
								</div>
								<div class="items">
									<img src="img/content/slide-4.jpg" alt="Portfolio" data-animate-items>
								</div>
							</div>
							<div class="js-slider-descriptions slider-descriptions">
								<div class="items">
									<h3 class="mod-color">Lorem</h3>
									<p><span class="mod-color">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
									<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
								</div>
								<div class="items">
									<h3 class="mod-color">Oransh</h3>
									<p><span class="mod-color">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
									<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
								</div>
								<div class="items">
									<h3 class="mod-color">Dolce Vita</h3>
									<p><span class="mod-color">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
									<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
								</div>
								<div class="items">
									<h3 class="mod-color">Pc</h3>
									<p><span class="mod-color">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
									<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
								</div>
								<div class="items">
									<h3 class="mod-color">Dolce Vita</h3>
									<p><span class="mod-color">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
									<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
								</div>
								<div class="items">
									<h3 class="mod-color">Pc</h3>
									<p><span class="mod-color">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
									<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="contact-us-section" id="contact-us">
					<div class="container">
						<h2>Contact Us</h2>
						<div class="information-content">
							<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout point of using Lorem Ipsum</p>
						</div>
						<div class="col-xs-12 col-lg-4 clearfix">
							<address>
								<p class="mod-color">Kyiv</p>
								<a href="#" title="Street">
									<svg class="icon icon-locations">
							        	<use xlink:href="img/sprite.svg#locations"></use>
							        </svg>
									<span>02095 23 Avtozavodskaya str.</span>
								</a>
								<a href="mailto:info@fdigital.com" title="E-mail">
									<svg class="icon icon-mail">
							        	<use xlink:href="img/sprite.svg#mail"></use>
							        </svg>
									<span>info@fdigital.com</span>
								</a>
								<a href="tel:+380984123245" title="Phone">
									<svg class="icon icon-tel">
							        	<use xlink:href="img/sprite.svg#tel"></use>
							        </svg>
									<span>+38 (098) 41 - 23 - 245</span>
								</a>
							</address>
							<address>
								<p class="mod-color">USA</p>
								<a href="#" title="Street">
									<svg class="icon icon-locations">
							        	<use xlink:href="img/sprite.svg#locations"></use>
							        </svg>
							        <span>48104 5 Green Avenue, Apt. 3</span>
							    </a>
								<a href="mailto:info@fdigital.com" title="E-mail">
									<svg class="icon icon-mail">
							        	<use xlink:href="img/sprite.svg#mail"></use>
							        </svg>
							        <span>info@fdigital.com</span>
							    </a>
								<a href="tel:+14155656566" title="Phone">
									<svg class="icon icon-tel">
							        	<use xlink:href="img/sprite.svg#tel"></use>
							        </svg>
							        <span>+1 (415) 56 - 56 - 566</span></a>
							</address>
						</div>
						<div class="col-xs-12 col-lg-8">
							<form action="#" method="post">
								<input type="hidden" name="Site" value="Site name">
								<input type="hidden" name="Form" value="FOrm name">
								<p class="filds-items filds-input">
									<input type="text" name="Name" placeholder="Your Name*" required>
								</p>
								<p class="filds-items filds-input">
									<input type="email" name="E-mail" placeholder="Your E-mail*" required>
								</p>
								<p class="filds-items filds-input">
									<input type="tel" name="Phone" placeholder="Your Phone*" required>
								</p>
								<p class="filds-items filds-input">
									<input type="text" name="Subject" placeholder="Subject">
								</p>
								<p class="filds-items filds-textarea">
									<textarea name="Message" placeholder="Your Message"></textarea>
								</p>
								<button type="submit"><span>Send</span></button>
							</form>
							
						</div>
					</div>
				</section>
			</div>

			<include src="../chunks/footer.html"></include>

		</div>
		<!-- scripts -->
		<include src="../chunks/scripts.html"></include>
	</body>
</html>
