*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// font default
//-----------------------------------------------------------------------------------
body, input, button, select, textarea {
  font-family: $ffsr;
}

// Common classes
//-----------------------------------------------------------------------------------
.clear {
  clear: both;
}

%clear-fix:after {
  content: "";
  clear: both;
  display: table;
  width: 100%;
}

// text align
//-----------------------------------------------------------------------------------
.text {
  &-left {
    text-align: left;
  }

  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }
}

pre, code {
  font-family: monospace;
}

a {
  display: inline-block;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

img {
  position: relative;
  display: inline-block;
  border: none;
  vertical-align: top;
  max-width: 100%;
  height: auto;
  outline: 0;
}

svg {
  pointer-events: all;
}

// form
//-----------------------------------------------------------------------------------
input, textarea {
  appearance: none;
  box-shadow: none;
}

textarea {
  resize: none;
}

input {
  vertical-align: middle;
  margin: 0;
  padding: 0;

  ::-ms-clear,
  ::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }

  &[type="search"] {
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }
  }
}

button,
input[type='reset'],
input[type='submit'],
input[type='button'],
input[type='image'] {
  display: inline-block;
  width: auto;
  margin: 0;
  padding: 0;
  overflow: visible;
  background: none;
  outline: 0;
  border: 0;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
}

// WebKit/Blink Browsers
//-----------------------------------------------------------------------------------
::selection {
  background: $color-selection;
}

// vertical align middle
//-----------------------------------------------------------------------------------
%vafix {
  font-size: 0;

  &:before {
    display: inline-block;
    height: 100%;
    content: "";
    vertical-align: middle;
  }
}

%btn-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  
  &:after,
  &:before {
    flex: 1 0 auto;
    content: '';
  }
}

.col {
  padding-left: $grid-gutter-width / 2;
  padding-right: $grid-gutter-width / 2;
}
