.icon {
	display: inline-block;
	vertical-align: middle;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow {
	width:(13.531/16.094)*1em;
}
.icon-list-arrow {
	width:(14/8)*1em;
}
.icon-locations {
	width:(21.969/26.03)*1em;
}
.icon-mail {
	width:(20/18)*1em;
}
.icon-menu-button {
	width:(24/20)*1em;
}
.icon-tel {
	width:(17/27)*1em;
}
