html {
  -webkit-overflow-scrolling: touch;
}

html,
body {
  min-height: 100%;
}

.page-wrap,
.footer {
  width: 100%;
  margin: 0 auto;
}

.page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
}

.page-body {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.no-scroll {
    overflow: hidden;
}

body {
    background-color: $col_3;
    color: $col_1;
}
section {
    padding: 50px 0;
    overflow: hidden;
    .information-content {
        p {
            font-size: 22px;
            line-height: 35px;
            letter-spacing: -0.35px;
        }
    }
}

.container {
    padding: 0 16px;
}
.row {
    margin: 0 -16px;
}
.mod-color {
    color: $col_2;
}
h1, h2 {
    font-family: $ffl;
    letter-spacing: -1px;
}
h3, h4 {
    font-family: $ffr;
}
h5, h6 {
    font-family: $ffm;
}
h1, h2, h3, h4, h5, h6 {
    color: $col_1;
}
h1, h2 {
    position: relative;
    text-align: center;
    &:before {
        position: absolute;
        content: '';
        display: block;
        left: 50%;
        border: 1px solid transparent;
        transform: translateX(-50%);
        z-index: 1;
    }
}
h1 {
    margin-bottom: 25px;
    padding: 15px 0;
    font-size: 34px;
    line-height: 48px;
    span {
        font-family: $ffr;
        font-size: 40px;
    }
    &:before {
        width: 130px;
        bottom: -3px;
        border-color: $col_1;
    }
}
h2 {
    margin-bottom: 45px;
    padding: 10px 0;
    font-size: 45px;
    line-height: 65px;
    &:before {
        width: 100px;
        bottom: 0;
        border-color: $col_2;
    }
}
h3 {
    font-size: 35px;
    line-height: 55px;
}
h4 {
    font-size: 30px;
    line-height: 35px;
    letter-spacing: -0.75px;
}
h5 {
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.2px;
}

form {
    padding: 10px 0 20px;
     &:after {
        display: table;
        content: '';
        clear: both;
    }
    .filds-items {
        position: relative;
        margin-bottom: 30px;
    }
    label {
        position: absolute;
        left: 0; bottom: 50px;
        font-size: 14px;
        color: #E74C3C;
    }
    input:not([type="submit"]), textarea {
        display: block;
        width: 100%;
        padding: 10px 14px;
        background-color: #feffff;
        border: 1px solid rgba(#494e68, .5);
        font-family: $ffr;
        font-size: 18px;
        color: $col_1;
        &:focus {
            background-color: rgba($col_2, .01);
            border-color: $col_2;
        }
        &.valid {
            background-color: rgba(#2ECC71, .01);
            border-color: #2ECC71;
        }
        &.error {
            background-color: rgba(#E74C3C, .01);
            border-color: #E74C3C;
        }
    }
    input {
        height: 46px;
    }
    textarea {
        height: 125px;
    }
    input[type="submit"],
    button[type="submit"] {
        display: block;
        width: 210px;
        height: 46px;
        margin: 40px auto 0;
        background-color: $col_2;
        font-family: $ffm;
        font-size: 22px;
        line-height: 48px;
        text-transform: uppercase;
        color: $col_3;
    }
    button[type="submit"] {
        position: relative;
        z-index: 10;
        span {
            position: relative;
            z-index: 1;
        }
        &:before, &:after {
            position: absolute;
            content: '';
            width: 0;
            height: 100%;
            top: 0;
            z-index: -1;
            transition: 1s;
        }
        &:before {
            left: 0;
            background-color: lighten(#2ECC71, 10);
        }
        &:after {
           right: 0;
            background-color: lighten(#E74C3C, 10);
        }
        &.mod-valid:before,
        &.mod-invalid:after {
            width: 100%;
        }
    }
}

@media only screen and (min-width : 768px) {
    .container {
        padding: 0 15px;
    }
    h1, h2, h3 {
        letter-spacing: -1.7px;
    }
    h1 {
        margin-bottom: 35px;
        font-size: 55px;
        line-height: 65px;
        span {
            display: block;
            font-size: 55px;
            line-height: 65px;
        }
        &:before {
            width: 160px;
            bottom: -5px;
        }
    }
    section {
        padding: 50px 0;
    }
    form {
        padding: 15px 0 25px;
        .filds-input {
            float: left;
            width: 351px;
            margin-right: 15px;
        }
        .filds-input:nth-child(even) {
            margin-right: 0;
        }
        .filds-textarea {
            clear: both;
        }
        textarea {
            height: 115px;
        }
    }
}

@media only screen and (min-width : 992px) {
    form {
        .filds-input {
            width: 440px;
            margin-right: 30px;
        }
    }
}

@media only screen and (min-width : 1200px) {
    .container {
        padding: 0 15px;
    }
    .row {
        margin: 0 -15px;
    }
    h1 {
        margin-bottom: 32px;
        padding: 25px 0;
        font-size: 62px;
        line-height: 70px;
        span {
            font-size: 62px;
            line-height: 70px;
        }
    }
    form {
        padding: 5px 0 25px;
        .filds-input {
            width: 360px;
        }
        input[type="submit"],
        button[type="submit"] {
            margin-top: 37px;
        }
    }
}