// grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 768px,
  md: 992px,
  lg: 1200px
);

// grid containers
$container-max-widths: (
  sm: 748px,
  md: 940px,
  lg: 1170px
);

// grid columns
$grid-columns:               12 !default;
$grid-gutter-width:          30px !default;

// is grid with flex
$enable-flex: false;

// font
@font-face {
  font-family: 'Hind-Light';
  src: url('../fonts/Hind-Light/Hind-Light.eot');
  src: url('../fonts/Hind-Light/Hind-Light.woff2') format('woff2'),
       url('../fonts/Hind-Light/Hind-Light.woff') format('woff'),
       url('../fonts/Hind-Light/Hind-Light.ttf') format('truetype'),
       url('../fonts/Hind-Light/Hind-Light.svg#Hind-Light') format('svg'),
       url('../fonts/Hind-Light/Hind-Light.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Hind-Regular';
  src: url('../fonts/Hind-Regular/Hind-Regular.eot');
  src: url('../fonts/Hind-Regular/Hind-Regular.woff2') format('woff2'),
       url('../fonts/Hind-Regular/Hind-Regular.woff') format('woff'),
       url('../fonts/Hind-Regular/Hind-Regular.ttf') format('truetype'),
       url('../fonts/Hind-Regular/Hind-Regular.svg#Hind-Regular') format('svg'),
       url('../fonts/Hind-Regular/Hind-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Hind-Medium';
  src: url('../fonts/Hind-Medium/Hind-Medium.eot');
  src: url('../fonts/Hind-Medium/Hind-Medium.woff2') format('woff2'),
       url('../fonts/Hind-Medium/Hind-Medium.woff') format('woff'),
       url('../fonts/Hind-Medium/Hind-Medium.ttf') format('truetype'),
       url('../fonts/Hind-Medium/Hind-Medium.svg#Hind-Medium') format('svg'),
       url('../fonts/Hind-Medium/Hind-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Slabo27px-Regular';
  src: url('../fonts/Slabo27px-Regular/Slabo27px-Regular.eot');
  src: url('../fonts/Slabo27px-Regular/Slabo27px-Regular.woff2') format('woff2'),
       url('../fonts/Slabo27px-Regular/Slabo27px-Regular.woff') format('woff'),
       url('../fonts/Slabo27px-Regular/Slabo27px-Regular.ttf') format('truetype'),
       url('../fonts/Slabo27px-Regular/Slabo27px-Regular.svg#Slabo27px-Regular') format('svg'),
       url('../fonts/Slabo27px-Regular/Slabo27px-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}

$default-font: Arial, "Helvetica Neue", Helvetica, sans-serif;

$ffl: 'Hind-Light', $default-font;
$ffr: 'Hind-Regular', $default-font;
$ffm: 'Hind-Medium', $default-font;
$ffsr: 'Slabo27px-Regular', $default-font;


$body-font-size: 16px;

// selection color
//-----------------------------------------------------------------------------------
$color-selection: dodgerblue;


$col_1: #494e68;
$col_2: #27aae1;
$col_3: #fff;
