// main page
//-----------------------------------------------------------------------------------

/* Home Section */
.home-section {
	padding-top: 0;
	padding-bottom: 60px;
	.home-background {
		background-repeat: no-repeat;
		background-position: 45px 25px;
		background-size: inherit;
	}
	.home-content {
		padding: 25px 0;
		font-size: 18px;
		line-height: 28px;
		text-align: center;
		letter-spacing: -0.25px;
	}
	.scroll-to-down-button {
		display: block;
		width: 45px;
		height: 45px;
		margin: 12px auto 0;
		border: 1px dashed #cbcdcf;
		border-radius: 50%;
		.icon-arrow-button {
			width: 16px;
			height: 16px;
			fill: $col_2;
		}
		&:hover {
			border-color: $col_2;
		}
	}
}

/* Our approach Section */
.our-approach-section {
	background-color: #f6f6f6;
	.thumbnail {
		position: relative;
		width: 288px;
		height: 327px;
		margin: 0 auto 23px;
		img {
			position: absolute;
		}
		img:first-child {
			width: 174px;
			top: 0; left: -6px;
		}
		img:last-child {
			width: 152px;
			right: 0; bottom: 0;
		}
	}
	.information-content {
		padding-right: 15px;
	}
	.el-accordion {
		margin: 16px 0;
	}
}

/* Services Section */
.services-section {
	h2 {
		margin-bottom: 53px;
	}
	.thumbnail {
		position: relative;
		width: 288px;
		height: 210px;
		margin: 0 auto 28px;
		.items {
			position: absolute;
			display: flex;
			border-width: 11px 10px;
			border-style: solid;
			border-color: $col_3;
			box-shadow: 5px 8.7px 24.3px 0.8px rgba(64, 64, 64, 0.31);
			img {
				margin: auto;
			}
		}
		.items-one {
			width: 199px;
			height: 143px;
			top: 15px; left: 15px;
			background-color: #f4cf83;
			z-index: 1;
			img {
				width: 70px;
			}
		}
		.items-two{
			width: 102px;
			height: 128px;
			right: 15px; bottom: 15px;
			background-color: #d1efeb;
			z-index: 2;
			img {
				width: 45px;
			}
		}
	}
}

/* Technology Section */
.technology-section {
	background-color: #fcfeff;
	h2 {
		margin-bottom: 55px;
	}
	.thumbnail {
		position: relative;
		width: 288px;
		height: 250px;
		margin: 0 auto 25px;
		.items {
			position: absolute;
			display: flex;
			width: 140px;
			height: 100px;
			background-clip: padding-box;
			border-width: 13px 12px;
			border-style: solid;
			border-color: $col_3;
			box-shadow: 5px 8.7px 24.3px 0.8px rgba(64, 64, 64, 0.31);
			img {
				margin: auto;
			}
		}
		.items-one {
			top: 15px; left: 98px;
			background-color: #d1efeb;
			img {
				width: 70px;
			}
		}
		.items-two {
			top: 95px; left: 15px;
			background-color: #ee6c68;
			img {
				width: 83px;
			}
		}
		.items-three {
			right: 15px; bottom: 15px;
			background-color: #f4cf83;
			img {
				width: 58px;
			}
		}
	}
}

.el-accordion {
	margin: 10px 0;
	> li {
		padding: 7px 5px 7px 15px;
	}
	.list-title {
		position: relative;
		display: inline-block;
		font-size: 20px;
		line-height: 26px;
		cursor: pointer;
		clear: both;
	}
	.icon-list-arrow {
		width: 15px;
		height: 10px;
		margin-right: 10px;
		left: 0; top: 50%;
		transition: .5s;
		fill: #a7a9ac;
	}
	.list-title.mod-open {
		.icon-list-arrow {
			fill: $col_2;
			transform: rotate(-180deg);
		}
	}
	.wrap-content {
		display: none;
		padding-left: 30px;
		font-size: 20px;
		line-height: 26px;
		letter-spacing: -0.25px;
		p + p {
			margin-top: 10px;
		}
	}
	.content {
		padding-top: 12px;
		font-size: 18px;
		line-height: 29px;
		letter-spacing: -0.2px;
	}
	ul {
		padding: 14px 0 10px;
		font-size: 18px;
		line-height: 29px;
		li {
			position: relative;
			padding-left: 38px;
			&:before {
				position: absolute;
				content: '';
				width: 6px;
				height: 6px;
				top: 10px; left: 11px;
				background-color: $col_2;
			}
		}
		li + li {
			margin-top: 15px;
		}
	}
}

/* Who we are Section */
.who-we-are-section {
	padding-top: 0;
	font-size: 20px;
	line-height: 32px;
	letter-spacing: -0.3px;
	.container {
		position: relative;
		padding-top: 40px;
		padding-bottom: 23px;
		text-align: center;
		z-index: 1;
		p {
			padding: 0 20px;
		}
	}
	.mod-decoration {
		position: absolute;
		max-width: 2200px;
		width: 2200px;
		top: 0; left: -925px;
		z-index: -1;
	}
	h2 {
		margin-bottom: 65px;
	}
	.items-wrap {
		position: relative;
		z-index: 1;
		&:after {
			display: table;
			content: '';
			clear: both;
		}
	}
	.items {
		padding-top: 22px;
		padding-bottom: 22px;
		font-size: 17px;
		line-height: 28px;
		letter-spacing: 0;
		text-align: center;
		color: #b3b4bd;
		.thumbnail {
			margin-bottom: 25px;
		}
		h4 {
			margin-bottom: 17px;
		}
		.content {
			padding: 0 15px;
		}
	}
}

/* Portfolio Section */
.portfolio-section {
	background-color: #f6f6f6;
	h2 {
		margin-bottom: 30px;
	}
}
.slider-wrap {
	.slider-window {
		position: relative;
		margin: 0 -16px;
		.items {
			padding: 20px 16px 30px;
		}
		img {
			width: 100%;
			box-shadow: 0 0 8px 0.8px rgba(64, 64, 64, 0.31);
		}
		.arrows {
			position: absolute;
			width: 44px;
			height: 44px;
			top: 50%;
			background-color: white;
			border: 1px solid transparent;
			border-radius: 50%;
			transform: translateY(-50%);
			transition: .2s;
			z-index: 10;
			.icon {
				width: 15px;
				height: 15px;
				fill: $col_2;
			}
			&:hover {
				border-color: $col_2;
			}
		}
		.prev-slide {
			left: 0;
			.icon {
				transform: rotate(90deg);
			}
		}
		.next-slide {
			right: 0;
			.icon {
				transform: rotate(-90deg);
			}
		}
	}
	.slider-descriptions {
		font-size: 18px;
		line-height: 28px;
		text-align: center;
		letter-spacing: -0.2px;
		h3 {
			margin-bottom: 3px;
		}
		p {
			margin-bottom: 17px;
		}
		.items+.items {
			display: none;
		}
	}
}

/* Contact-us Section */
.contact-us-section {
	background-color: #fcfeff;
	h2 {
		margin-bottom: 65px;
	}
	.information-content {
		margin-bottom: 35px;
		text-align: center;
	}
	.col-xs-12 {
		padding: 0;
	}
	address {
		margin-bottom: 35px;
		font-style: normal;
		p {
			margin-bottom: 13px;
			font-size: 30px;
			line-height: 36px;
		}
		a {
			display: block;
			margin: 10px 0;
			font-size: 22px;
			letter-spacing: -0.3px;
			transition: .2s;
			color: $col_1;
			.icon {
				margin-right: 10px;
				fill: $col_2;
			}
			.icon-locations {
				width: 23px;
				height: 27px;
			}
			.icon-mail {
				width: 22px;
				height: 19px;
			}
			.icon-tel {
				width: 18px;
				height: 27px;
			}
			&:hover, &:focus {
				color: $col_2;
			}
		}
	}
}

[data-animate-section] {
	[data-animate-items] {
		transform: scale(0);
		transition: 1s;
		&.mod-show {
			transform: scale(1);
		}
	}
}


@media only screen and (min-width : 416px) {
	.slider-wrap {
		.slider-window {
			width: 384px;
			margin: 0 auto;
		}
	}
}

@media only screen and (min-width : 768px)  {
	/* Home Section */
	.home-section {
		padding-bottom: 70px;
		.home-background {
			background-position: 216px 28px;
		}
		.home-content {
			margin: 0 auto;
			padding: 26px 65px;
			font-size: 20px;
		}
		.scroll-to-down-button {
			margin-top: 14px;
		}
	}

	/* Our approach Section && Services Section && Technology Section */
	.our-approach-section,
	.services-section,
	.technology-section {
		.thumbnail {
			float: left;
			// width: 365px;
			width: 352px;
			margin: 0px 13px 0 0;
		}
		.information-content {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
		}
	}

	/* Our approach Section */
	.our-approach-section {
		padding-bottom: 45px;
		.thumbnail {
			height: 440px;
			img:first-child {
				width: 234px;
				left: -26px;
			}
			img:last-child {
				width: 205px;
				right: -20px;
			}
		}
		.information-content {
			min-height: 440px;
			padding: 10px 0 0;
		}
		.el-accordion {
			margin: 13px 0;
		}
	}

	/* Services Section */
	.services-section {
		.thumbnail {
			height: 273px;
			.items-one {
				width: 270px;
				height: 193px;
				left: 0;
				border-width: 15px 14px;
				img {
					width: 97px;
				}
			}
			.items-two {
				width: 138px;
				height: 173px;
				right: 0;
				border-width: 14px;
				img {
					width: 59px;
				}
			}
		}
		.information-content {
			min-height: 273px;
			padding-right: 15px;
		}
		.el-accordion {
			margin-top: 23px;
		}
	}

	/* Technology Section */
	.technology-section {
		.thumbnail {
			height: 330px;
			.items {
				width: 189px;
				height: 136px;
				border-width: 17px;
			}
			.items-one {
				left: 115px;
				img {
					width: 91px;
				}
			}
			.items-two {
				top: 123px; left: 0;
				img {
					width: 109px;
				}
			}
			.items-three {
				right: 0;
				img {
					width: 75px;
				}
			}
		}
		.information-content {
			min-height: 330px;
			padding-right: 15px;
		}
		.el-accordion {
			margin-top: 23px;
		}
	}

	.el-accordion {
		> li {
			padding: 7px 5px;
		}
	}

	/* Who we are Section */
	.who-we-are-section {
		padding-bottom: 40px;
		.container {
			padding-top: 40px;
			padding-bottom: 40px;
			p {
				padding: 0 70px;
			}
		}
		.mod-decoration {
			left: -715px;
		}
		.items .content {
			padding: 0 80px;
		}
	}

	/* Portfolio Section */
	.portfolio-section  {
		h2 {
			margin-bottom: 52px;
		}
	}
	.slider-wrap {
		.slider-window {
			width: 768px;
			margin: 0 -25px;
			padding: 0 16px;
			.items {
				padding: 20px 7px 19px
			}
		}
	}

	/* Contact-us Section */
	.contact-us-section {
		h2 {
			margin-bottom: 63px;
		}
		.information-content {
			padding: 0 15px;
			margin-bottom: 55px;
		}
		address {
			float: left;
			width: 350px;
			margin-right: 15px;
		}
		address:nth-child(even) {
			margin-right: 0;
		}
	}
}

@media only screen and (min-width : 992px) {
	/* Home Section */
	.home-section {
		.home-background {
			background-position: 410px 28px;
		}
	}

	/* Our approach Section && Services Section && Technology Section */
	.our-approach-section,
	.services-section,
	.technology-section {
		.information-content {
			padding: 0 30px;
		}
	}

	/* Who we are Section */
	.who-we-are-section {
		.items {
			.thumbnail {
				margin-bottom: 32px;
			}
			h4 {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				min-height: 70px;
				margin-bottom: 20px;
				padding: 0 60px;
				text-align: center;
			}
			.content {
				padding: 0 20px;
			}
		}
	}

	/* Portfolio Section */
	.slider-wrap {
		.slider-window {
			width: 940px;
			margin: 0 -15px 30px;
		}
	}

	/* Contact-us Section */
	.contact-us-section {
		address {
			width: 440px;
			margin-right: 30px;
		}
	}
}

@media only screen and (min-width : 1200px) {
	/* Home Section */
	.home-section {
		padding-bottom: 29px;
		.home-background {
		    background-position: 618px 28px;
		}
		.home-content {
			padding: 85px 220px 20px;
			font-size: 20px;
			line-height: 32px;
		}
		.scroll-to-down-button {
			margin-top: 22px;
		}
	}

	/* Our approach Section */
	.our-approach-section {
		overflow: visible;
		h2 {
			margin-bottom: 55px;
		}
		.thumbnail {
			width: 458px;
			height: 526px;
			margin: 0;
			img:first-child {
				width: 280px;
				left: -10px;
			}
			img:last-child {
				width: 245px;
				right: -6px;
			}
		}
		.content-wrap {
			float: right;
			width: 652px;
			padding: 41px 0 0;
		}
		.information-content {
			min-height: auto;
			padding: 0;
		}
		.el-accordion {
			margin-top: 2px;
			padding-left: 13px;
			.content {
				width: 458px;
				top: -125px; left: -488px;
			}
		}
	}

	/* Services Section && Technology Section*/
	.services-section,
	.technology-section {
		overflow: visible;
		.thumbnail {
			width: 556px;
			margin: 0;
		}
		.content-wrap {
			width: 556px;
		}
		.information-content {
			min-height: auto;
			padding: 0;
		}
		.el-accordion {
			margin-top: 7px;
			padding-left: 17px;
			.content {
				width: 556px;
			}
		}
	}

	/* Services Section */
	.services-section {
		h2 {
			margin-bottom: 95px;
		}
		.thumbnail {
			float: right;
			height: 380px;
			margin: 85px 0;
			.items-one {
				width: 390px;
				height: 279px;
				left: 26px;
				border-width: 20px;
				img {
					width: 140px;
				}
			}
			.items-two {
				width: 200px;
				height: 250px;
				right: 22px;
				border-width: 20px;
				img {
					width: 88px;
				}
			}
		}
		.content-wrap {
			float: left;
		}
		.el-accordion .content {
			top: -200px;
			right: -586px;
		}
	}

	/* Technology Section */
	.technology-section {
		h2 {
			margin-bottom: 73px;
		}
		.thumbnail {
			height: 445px;
			margin: 15px 0;
			.items {
				width: 263px;
				height: 189px;
				border-width: 24px;
			}
			.items-one {
				left: 222px;
				img {
					width: 105px;
				}
			}
			.items-two {
				top: 165px;
				left: 65px;
				img {
					width: 120px;
				}
			}
		}
		.content-wrap {
			float: right;
		}
		.el-accordion .content {
			top: -150px;
			left: -586px;
		}
	}

	.el-accordion {
		position: relative;
		.icon-list-arrow {
			visibility: hidden;
			opacity: 0;
		}
		.wrap-content {
			display: block;
		}
		.content {
			position: absolute;
			display: none;
			padding: 30px;
			background-color: $col_3;
			box-shadow: 5px 8.7px 24.3px 0.8px rgba(64, 64, 64, 0.31);
			z-index: 100;
		}
	}
	
	/* Who we are Section */
	.who-we-are-section {
		.container {
			p {
				padding: 0 110px;
			}
		}
		.mod-decoration {
			left: -510px;
		}
		.items-wrap {
			width: 1170px;
			margin: 0 auto;
		}
	}

	/* Portfolio Section */
	.portfolio-section {
		padding: 30px 0 45px;
	}
	.slider-wrap {
		.slider-window {
			width: 1170px;
			padding: 0;
			.items {
				padding: 15px;
			}
			.arrows {
				width: 60px;
				height: 60px;
				.icon {
					width: 20px;
					height: 20px;
				}
			}
			.prev-slide {
				left: -13px;
			}
			.next-slide {
				right: -13px;
			}
		}
		.slider-descriptions {
			padding: 0 90px;
		}
	}

	/* Contact-us Section */
	.contact-us-section {
		padding-bottom: 64px;
		.container {
			padding: 0;
		}
		.information-content {
			padding: 0 240px;
		}
		.col-lg-4, .col-lg-8 {
			padding: 0 15px;
		}
		address {
			width: 100%;
			margin-right: 0;
		}
	}
}

@media only screen and (min-width : 1380px) {
	/* Portfolio Section */
	.slider-wrap {
		.slider-window {
			.arrows {
				background-color: transparent;
				border: 1px dotted #c5c7c9;
			}
			.prev-slide {
				left: -94px;
			}
			.next-slide {
				right: -94px;
			}
		}
	}
}