@font-face {
  font-family: 'Slabo27px-Regular';
  src: url('Slabo27px-Regular.eot');
  src: url('Slabo27px-Regular.woff2') format('woff2'),
       url('Slabo27px-Regular.woff') format('woff'),
       url('Slabo27px-Regular.ttf') format('truetype'),
       url('Slabo27px-Regular.svg#Slabo27px-Regular') format('svg'),
       url('Slabo27px-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

