@font-face {
  font-family: 'Hind-Light';
  src: url('Hind-Light.eot');
  src: url('Hind-Light.woff2') format('woff2'),
       url('Hind-Light.woff') format('woff'),
       url('Hind-Light.ttf') format('truetype'),
       url('Hind-Light.svg#Hind-Light') format('svg'),
       url('Hind-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

