@font-face {
  font-family: 'Hind-Medium';
  src: url('Hind-Medium.eot');
  src: url('Hind-Medium.woff2') format('woff2'),
       url('Hind-Medium.woff') format('woff'),
       url('Hind-Medium.ttf') format('truetype'),
       url('Hind-Medium.svg#Hind-Medium') format('svg'),
       url('Hind-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

